
<div class="alert alert-secondary text-center" role="alert">
    <h1>داشبورد مدیریتی</h1>
</div>
@* @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("superadmin"))
{ *@
    <div class="text-center">
        <div class="container-fluid" style="width:91%">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="card-title fw-semibold mb-3">کلاس ها</h5>
                            <div class="card">
                                <img src="~/Images/ClassRoom.png" class="card-img-top" alt="کلاس ها " style="height:35vh">
                                <div class="card-body">
                                    <a asp-controller="Class" asp-action="Index" class="btn btn-outline-primary m-1">مشاهده </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title fw-semibold mb-3">حضور غیاب ها</h5>
                            <div class="card">
                                <img src="~/Images/Precence.webp" class="card-img-top" alt=" حضور و غیاب" style="height:35vh">
                                <div class="card-body">
                                    <a asp-controller="Teacher" asp-action="Index" class="btn btn-outline-primary m-1">مشاهده </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title fw-semibold mb-3">استادان</h5>
                            <div class="card">
                            <img src="~/Images/Teacher.png" class="card-img-top" alt="پنل استادان" style="height:35vh">
                                <div class="card-body">
                                    <a asp-controller="Teacher" asp-action="Index" class="btn btn-outline-primary m-1">مشاهده </a>
                                </div>
                            </div>
                        </div>

                        <div>
                            @if (TempData["Success"] != null)
                            {
                                <span>@TempData["Success"]</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@* } *@
